.todos{
    margin-bottom: 20px;
}

.item{
    padding: 15px 20px;
    width: 20%;
    background-color: white;
    display: flex;
    flex: content;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.done .content{
	text-decoration: line-through;
}

.add-btn{
    margin-bottom: 30px;
}